soapserver/src/main/resources/xsd_schemas/persons.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="https://localhost:8443/api/v1/ws/persons"
           targetNamespace="https://localhost:8443/api/v1/ws/persons"
           elementFormDefault="qualified">

<!--    Requests-->

    <xs:element name="getPartialPersonByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartialPersonByEmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personEmail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonByEmailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personEmail" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartialPersonByNameSurnameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personName" type="xs:string"/>
                <xs:element name="personSurname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonByNameSurnameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personName" type="xs:string"/>
                <xs:element name="personSurname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartialPersonInfoListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonInfoListRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createNewPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:personFull"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateExistingPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:personFull"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deletePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--    Responses-->

    <xs:element name="statusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="timestamp" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:personFull"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartialPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:personPartial"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getFullPersonInfoListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personList" maxOccurs="unbounded" minOccurs="0" type="tns:personFull"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPartialPersonInfoListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personList" maxOccurs="unbounded" minOccurs="0" type="tns:personPartial"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<!--    DTO-->

    <xs:complexType name="personPartial">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>

            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>

            <xs:element name="address" type="tns:address"/>

            <xs:element name="createdDate" type="xs:string"/>
            <xs:element name="createdBy" type="xs:string"/>
            <xs:element name="modifiedDate" type="xs:string"/>
            <xs:element name="modifiedBy" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personFull">
        <xs:sequence>
            <xs:element name="id"             type="xs:string"         minOccurs="0"/>
            <xs:element name="name"           type="xs:string"          />
            <xs:element name="surname"        type="xs:string"          />
            <xs:element name="phone"          type="xs:string"          />
            <xs:element name="email"          type="xs:string"          />
            <xs:element name="address"        type="tns:address"        />
            <xs:element name="questStatus"    type="tns:questStatus"    />
            <xs:element name="skillSet"       type="tns:skillSet"       />
            <xs:element name="stats"          type="tns:stats"          />
            <xs:element name="perksSet"       type="tns:perksSet"       />
            <xs:element name="createdDate"    type="xs:string"         minOccurs="0" />
            <xs:element name="createdBy"      type="xs:string"         minOccurs="0" />
            <xs:element name="modifiedDate"   type="xs:string"         minOccurs="0" />
            <xs:element name="modifiedBy"     type="xs:string"         minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="province" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="postcode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="questStatus">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>

            <xs:element name="findJohn" type="xs:boolean"/>
            <xs:element name="killMary" type="xs:boolean"/>
            <xs:element name="steelCar" type="xs:boolean"/>
            <xs:element name="casinoRobbery" type="xs:boolean"/>
            <xs:element name="steelPainting" type="xs:boolean"/>

            <xs:element name="createdDate" type="xs:string" minOccurs="0"/>
            <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedDate" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="skillSet">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>

            <xs:element name="gambling" type="xs:int"/>
            <xs:element name="pickpocketing" type="xs:int"/>
            <xs:element name="lockpicking" type="xs:int"/>
            <xs:element name="technology" type="xs:int"/>
            <xs:element name="martialArts" type="xs:int"/>
            <xs:element name="lightWeapons" type="xs:int"/>
            <xs:element name="heavyWeapons" type="xs:int"/>
            <xs:element name="barter" type="xs:int"/>
            <xs:element name="speechcraft" type="xs:int"/>

            <xs:element name="createdDate" type="xs:string" minOccurs="0"/>
            <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedDate" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stats">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>

            <xs:element name="strength" type="xs:int"/>
            <xs:element name="endurance" type="xs:int"/>
            <xs:element name="dexterity" type="xs:int"/>
            <xs:element name="intellect" type="xs:int"/>
            <xs:element name="attention" type="xs:int"/>
            <xs:element name="personality" type="xs:int"/>
            <xs:element name="luck" type="xs:int"/>

            <xs:element name="createdDate" type="xs:string" minOccurs="0"/>
            <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedDate" type="xs:string" minOccurs="0"/>
            <xs:element name="modifiedBy" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="perksSet">
        <xs:list itemType='tns:perks'/>
    </xs:simpleType>

    <xs:simpleType name="perks">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POLICE_ALLY"/>
            <xs:enumeration value="EXPLORER"/>
            <xs:enumeration value="PYROMANIAC"/>
            <xs:enumeration value="HEALER"/>
            <xs:enumeration value="GAMBLER"/>
            <xs:enumeration value="SCOUT"/>
            <xs:enumeration value="MR_FIXIT"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>